body {
    display:flex;
    background-color: gray;

}

.holder {
    display: flex;
   

    background-color: gray;
}

.forSvg {
    width: 1100px;
    height: 700px;
    background-color: lightgray;
}

heading {
    text-align: center;
}

svg {
    display: block;
    background-color: white;
}

#tooltip {
    position: absolute;
    left: 0;
    top: 0;
    
    font-size: 1.2em;
    display: none;
    border: 1px solid white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    
    border-radius: 5px;
}

#x-axis {
    font-size: 0.8em;
}

#y-axis {
    font-size: 0.8em;
}
